.bg-pink {
    background-color: rgba(255, 105, 180, 0.75);
}

.btn-pink {
    background-color: rgba(255, 105, 180, 0.5);
    border: 1px solid rgba(255, 105, 180, 0.5); 
    color: black; 
}
.footer-container{
    Background-color:rgba(128, 128, 128, 0.45);
    padding-top: auto;
    margin-top: auto;
}

.footer-text{
    color:white;
    text-align: center;
}

.card{
    width:100%;
    margin:0 auto;
    border:1px solid;
    border-radius:10px;
    background-color: rgb(239, 235, 235);
    padding: 20px;
}

.card img {
    width: 100%;
    border-radius: 10px; 
    margin-bottom: 10px; 
}
.card h3 {
    font-size: 40px;
    margin-bottom: 10px;
}
.card p {
    font-size: 1rem; 
    color: #423d3d; 
    margin-bottom: 10px; 
}

.card button {
    background-color: #ff69b4; 
    color: #fff; 
    border: none; 
    border-radius: 4px;
    padding: 10px 20px; 
    cursor: pointer; 
}
.card button:hover {
    background-color: #ff5eab; 
}